@font-face{
    font-family:SF-UI-Display-Medium;
    src: url("fonts/SF-UI-Display-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

.backnew {
	text-align: center;
    background-color: transparent;
	color: black;
    width: 9.5%;
    height: 100%;
	margin-right :90%;
	position:fixed;
	font-size: 21px;
	font-family:SF-UI-Display-Medium;
	src: url("fonts/SF-UI-Display-Medium.ttf");
}
#new_photo {
	display:block;
	margin-bottom: 40px;
	margin-left : auto;
	margin-right : auto;
}


#new_title {
	font-size: 35px;
	text-align : center;
	margin-top : 6%;
    margin-bottom : 50px;
	margin-left : 9.5%;
	margin-right : 9.5%;
}

#new_body {

	text-align : justify;
    margin-bottom : 50px;
	margin-left : 9.5%;
	margin-right : 9.5%;
	font-size: 20px;
}
.back {
	font-family:SF-UI-Display-Medium;
	src: url("fonts/SF-UI-Display-Medium.ttf");
	width: 16px;
	height: 16px;
	margin-top :40px;
	font-size: 21px;
	background-color: transparent;
	}

.closenew {
    background-color: transparent;
	color: black;
    width: 9.5%;
    height: 100%;
	margin-left :90.5%;
	margin-right :0%;
	position:fixed;
	text-align: center;
	font-size: 23px;
}
	